<body class="flex flex-col min-h-screen font-sans">

{{#if session.isAuthenticated}}
    <header class="text-center  text-white p-5  lg:text-3xl text-xl bg-gray-800 shadow">
       Asset Tracker
    </header>
{{/if}}

<main class="flex-grow bg-gray-300">
    {{outlet}}
</main>

{{#if session.isAuthenticated}}
    <footer>
        <div class="flex justify-between  content-center">
          <span class="fa-layers fa-lg flex p-6">
      <FaIcon @icon="home" />

    </span>
            <span class="fa-layers fa-lg flex p-6">
      <FaIcon @icon="circle" />

    </span>

            <span {{action 'logout' }} class="fa-layers fa-lg flex p-6">
          <FaIcon @icon="sign-out-alt" />

         </span>

        </div>
    </footer>
{{/if}}
</body>

